@charset "UTF-8";
/*================================================================
variables
================================================================*/
$key-color-white: #FFFFFF;
$key-color-black: #000000;
$key-color-ash: #F5F5F5;
$sub-title-color-ash: #8B8B8B;
$font-white: #FFFFFF;
$font-black: #424242;
$font-family-alata: 'Alata','sans-serif';
$font-family-noto: 'Noto Sans JP','sans-serif';
$section-title-font-size: 40px;
$hover-opacity: 0.7;
$letter-spacing: 0.08em;